
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: headFragment">
    <title id="pageTitle">CookingApp title</title>
    <!-- other elements you want to reference in your layout -->
</head>
<body>
<div th:replace="../static/fragments/nav :: nav"></div>
<div class="container">
    <div class="row">
        <div class="alert alert-primary w-100" role="alert">
            A simple primary alert—check it out!
        </div>
    </div>
    <div class="row">
        <ul th:each="recipe : ${recipes}">
            <a th:href="@{${recipe.getImageUrl()}}">
                <li class="recipe-li" th:text="${recipe.getTitle()}"></li>
            </a>
        </ul>
    </div>
</div>
</body>
</html>